#not{
	height: 600px;
	overflow-y: scroll;
}

#textnot{
    
    word-wrap:break-word;
}


p{
    padding: 1%;
}
#err{
    height: 500px;
}

@media screen and (max-width: 1200px) {
    #textnot{
        height: 150px;
        word-wrap:break-word;
    }
    #textnot>p{
        padding: 3%;
    }

    #err{
        height: 700px;
    }
}