
input.error {
    border: 2px solid #f00;
}
.error{
    color: red;
}

.valid {
    border: 2px solid green;
}
/*
form, input {
    margin: 10px;
}
*/
#foot{
    
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.438)
      ),
    
    url(../Imagenes/foot1.jpg);
  color: white;
   
}

#firstnavbar
    {
      font-size: 18px;
    }


    p#textoboton{
      text-align: center;
      color:white;
    }

    input#subidaimg{
      position:absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      width:100px;
      height:100px;
      opacity: 0;
    }
    div#div_file{
      position:relative;
      padding: 15px;
      margin: auto;
      width:150px;
      height: 50px;
      background-color:#0069D9;
      -webkit-border-radius:5px;
      -webkit-box-shadow:0px 3px 0px #1a71a9;
    }

    #not{
      height: 600px;

    }

    @media (min-width: 481px) and (max-width: 767px) { 
     
      #submenu{
        margin: auto;
        justify-content: center;
      }
    } 
    