.input-group-btn {display: block;}

html,body {
    height: 100%;
}


form button { margin: 5px 0px; 
	margin-left: 5px;
}
textarea { display: block; margin-bottom: 10px; }
/*post*/


@media (max-width: 480px) { 
	html,body { 
		height: auto;
	} 
} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
	body { 
		height: auto;
	} 
} 

 #comments-wrapper li{ display:none;
}