.input-group-btn {display: block;}

.img-thumbnail{
width: 35%; 
height: 25rem;
}

form button { margin: 5px 0px; 
	margin-left: 5px;
}
textarea { display: block; margin-bottom: 10px; }
/*post*/

#obracont{
	padding-right: 0%;
	padding-left: 0%;
	margin:auto;
	word-wrap: break-word;
	
}
.obra{
	height: 600px;
	overflow-y: scroll;
}

.usucontent{
	word-wrap: break-word;
	height: 600px;
	overflow-y: scroll;
}

#capcontent{
	word-wrap: break-word;
	height: 600px;
	overflow-y: scroll;
}

@media (max-width: 480px) { 
	img.img-thumbnail { 
		width: 70%; 
height: 20rem;
		
	} 

	#obracont{
		padding-right: auto;
		padding-left: auto;
	}
} 
  
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
	img.img-thumbnail { 
		width: 70%; 
height: 20rem;
	
	} 
	#obracont{
		padding-right: auto;
		padding-left: auto;
	}
} 

 #comments-wrapper li{ display:none;
}